
A:link {FONT-SIZE: 9px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: #003366, TEXT-DECORATION: none}

A:hover {FONT-SIZE: 9px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: #003366; TEXT-DECORATION: underline}

A:visited {FONT-SIZE: 9px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: #003366; TEXT-DECORATION: none}

A:visited:hover {FONT-SIZE: 9px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: #003366; TEXT-DECORATION: underline}

A:active {FONT-SIZE: 9px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: #003366; TEXT-DECORATION: underline}


a.liganaranja:link {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #FFA41A; text-decoration: none; font-weight: bold}

a.liganaranja:hover {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #FFA41A; text-decoration: underline; font-weight: bold}

a.liganaranja:visited {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10x; color: #FFA41A; text-decoration: none; font-weight: bold}

a.liganaranja:visited:hover { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #FFA41A; text-decoration: underline; font-weight: bold}

a.liganaranja:active {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #FFA41A; text-decoration: underline; font-weight: bold}


a.ligablanca:link {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #FFFFFF; text-decoration: none; font-weight: normal}

a.ligablanca:hover {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #FFFFFF; text-decoration: underline; font-weight: normal}

a.ligablanca:visited {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #FFFFFF; text-decoration: none; font-weight: normal}

a.ligablanca:visited:hover { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #FFFFFF; text-decoration: underline; font-weight: normal}

a.ligablanca:active {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #FFFFFF; text-decoration: underline}


a.ligablancaBold:link {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #FFFFFF; text-decoration: none; font-weight: bold}

a.ligablancaBold:hover {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #FFFFFF; text-decoration: underline; font-weight: bold}

a.ligablancaBold:visited {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #FFFFFF; text-decoration: none; font-weight: bold}

a.ligablancaBold:visited:hover { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #FFFFFF; text-decoration: underline; font-weight: bold}

a.ligablancaBold:active {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #FFFFFF; text-decoration: underline}


a.ligasmallblanca:link {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #FFFFFF; text-decoration: none; font-weight: normal}

a.ligasmallblanca:hover {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #FFFFFF; text-decoration: underline; font-weight: normal}

a.ligasmallblanca:visited {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #FFFFFF; text-decoration: none; font-weight: normal}

a.ligasmallblanca:visited:hover { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #FFFFFF; text-decoration: underline; font-weight: normal}

a.ligasmallblanca:active {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #FFFFFF; text-decoration: underline}


a.ligaazul:link {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #003366; text-decoration: none; font-weight: normal}

a.ligaazul:hover {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #003366; text-decoration: underline; font-weight: normal}

a.ligaazul:visited {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #003366; text-decoration: none; font-weight: normal}

a.ligaazul:visited:hover { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #003366; text-decoration: underline; font-weight: normal}

a.ligaazul:active {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #003366; text-decoration: underline}


a.ligaazulClaro:link {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #5F82A5; text-decoration: none; font-weight: normal}

a.ligaazulClaro:hover {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #5F82A5; text-decoration: underline; font-weight: normal}

a.ligaazulClaro:visited {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #5F82A5; text-decoration: none; font-weight: normal}

a.ligaazulClaro:visited:hover { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #5F82A5; text-decoration: underline; font-weight: normal}

a.ligaazulClaro:active {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #5F82A5; text-decoration: underline}



.letra_boldnegra {FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif}


.letraAzulBold {FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #003366; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; font-weight: bold}

.letraNaranjaBold
{
	font-weight: bold;
	font-size: 10px;
	color: #ff6600;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}


.letra_negra { FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; line-height: 11px; text-align: justify}


.letra_blanca { FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; line-height: 11px; text-align: justify}


.letratitulotablas { FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #003366; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; line-height: 11px}


.backAzulClaro {background-color: #527594;
}
.backAzulMarino {background-color: #003366;}
.tituloInteriorPortlet {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #527594;
}
.subtituloInteriorPortlet {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #A29DA2;
}
.letraAzulInteriorPortlet {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #527594;
}
.botonesInput {
	background-color: #367C9B;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
	border: 1px outset #FFB242;
	height: 20px;
	width: 70px;

}
.backgris {
background-color: #F0F0F0;
}
.headTabla {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #003366;
}
.headTablaSubnivel {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #527594;
}
.letrablancaBold {
	FONT-SIZE: 10px;
	COLOR: #ffffff;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	line-height: 11px;
	font-weight: bold;

}
.checkBox {
	height: 10px;
	width: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
}

.headTablaSubnivelClara {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #96ADC5;
}
.headTablaSubnivelGris {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #999999;
}
.backgrisClaro {

background-color: #F4F4F4;
}
.backGrisTablaObs {
background-color: #E1E1DF;
}
.backGrisTablaClara {

background-color: #F0F0EE;
}
.BackGrisObscuro {
	background-color: #DADCE7;
}
.TituloPopup {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #003366;

}

.letraAzulBoldTitle {
FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #003366; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; font-weight: bold
}

.letraAzulBoldError
{
	font-weight: bold;
	font-size: medium;
	color: #ffffff;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #276187;
}

.admin-tab-active
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #696969;
	border-top: 1px solid #D5D291;
	border-right: 1px solid #D5D291;
	border-left: 1px solid #D5D291;
	border-bottom: 0px none #D5D291;
	background-color: #ffffff;
	text-align: center;
	padding-top: 3px;
	padding-right: 18px;
	padding-bottom: 3px;
	padding-left: 18px;
}
.admin-tab-inactive
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	border-top: 1px solid #D5D291;
	border-right: 1px solid #D5D291;
	border-left: 1px solid #D5D291;
	border-bottom: 1px solid #D5D291;
	background-color: #EDECD1;
	text-align: center;
	padding-top: 3px;
	padding-right: 18px;
	padding-bottom: 3px;
	padding-left: 18px;
}
.admin-tab-right
{
	border-bottom: 1px solid #D5D291;
}
.admin-tan-border
{
	border-top: 1px solid #ffffff;
	border-left: 1px solid #D5D291;
	border-right: 1px solid #D5D291;
	border-bottom: 1px solid #D5D291;
	background-color: White;
}
.admin-tab-inactive a:link
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #696969;
	text-decoration: none;
}
.admin-tab-inactive a:visited
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #696969;
	text-decoration: none;
}
.admin-tab-inactive a:active
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #696969;
	text-decoration: none;
}
.admin-tab-inactive a:hover
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}

.grid-header a:active
{
	color: #696969;
	text-decoration: none;
}
.grid-header a:link
{
	color: #696969;
	text-decoration: none;
}
.grid-header a:visited
{
	color: #696969;
	text-decoration: none;
}
.grid-header a:hover
{
	color: darkred;
	text-decoration: none;
}
.grid-edit-column
{
	border-top: #696969 1px solid;
	border-bottom: #696969 1px solid;
	border-left: #696969 1px solid;
}
.grid-first-item
{
	border-top: #696969 1px solid;
	border-right: #696969 1px solid;
	border-bottom: #696969 1px solid;
	padding-right: 4px;
	padding-left: 4px;
	padding-bottom: 4px;
	padding-top: 4px;
	margin: 1px;
}
.grid-item
{
	border-right: #696969 1px solid;
	border-top: #696969 1px solid;
	border-left: #696969 1px double;
	border-bottom: #696969 1px solid;
	padding-right: 4px;
	padding-left: 4px;
	padding-bottom: 4px;
	padding-top: 4px;
	margin: 1px;
}
.grid-header
{
	border-bottom: DimGray 1px solid;
	font-weight: bold;
	font-size: 10px;
	color: White;
	background-color:#276187;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.grid-last-item
{
	border-top: #696969 1px solid;
	border-left: #696969 1px solid;
	border-bottom: #696969 1px solid;
	padding-right: 4px;
	padding-left: 4px;
	padding-bottom: 4px;
	padding-top: 4px;
	margin: 1px;
}
.header-gray
{
	font-weight: bold;
	font-size: 11px;
	color: #696969;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.header-lightgray
{
	font-weight: bold;
	font-size: 10px;
	color: gray;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.report-main-header
{
	font-weight: bold;
	font-size: 11px;
	color: Black;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #DCDCDC;
	padding-left: 18px;
	padding-right: 18px;
}
.report-header
{
	font-weight: bold;
	font-size: 11px;
	color: Black;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding-left: 18px;
	padding-right: 18px;
}
.report-text
{
	font-size: 10px;
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding-left: 18px;
	padding-right: 18px;
}
.report-header a:link
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: Black;
	text-decoration: none;
}
.report-header a:hover
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #696969;
	text-decoration: none;
}
.report-header a:visited
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: Black;
	text-decoration: none;
}
.report-header a:active
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #696969;
	text-decoration: none;
}
.standard-text
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
}

.standard-text-left
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	text-align:left;
}
.tab-active
{
	border-right: #edecd1 1px solid;
	padding-right: 18px;
	border-top: #edecd1 0px;
	padding-left: 18px;
	font-weight: bold;
	font-size: 11px;
	padding-bottom: 3px;
	border-left: #edecd1 1px solid;
	color: #990000;
	padding-top: 3px;
	border-bottom: #edecd1 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #ffff99;
	text-align: center;
}
.tab-inactive
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	border-top: 1px solid #000000;
	border-right: 1px solid #000000;
	border-left: 1px solid #000000;
	border-bottom: 0px none #000000;
	background-color: #003366;
	text-align: center;
	padding-top: 3px;
	padding-right: 18px;
	padding-bottom: 3px;
	padding-left: 18px;
}
.tan-border
{
	border-top: 1px solid #276187;
	border-left: 1px solid #276187;
	border-right: 1px solid #276187;
	border-bottom: 1px solid #276187;
	background-color: White;
}
.tab-inactive a:link
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
.tab-inactive a:visited
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
.tab-inactive a:active
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFC453;
	text-decoration: none;
}
.tab-inactive a:hover
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFC453;
	text-decoration: none;
}

.SelectedMenuItem 
{
  background-color:#276187; 
  font-family:verdana; 
  color:White;
  font-size:11px; 
  font-weight:bold;
  border:3px;
  border-style:solid;
  border-color:#276187;
  padding:5px;
  padding-left:20px;
  padding-right:20px;
  cursor:hand;
}
.MenuItem 
{
  background-color:#5490A9; 
  font-family:verdana; 
  color:#C6D3DE;
  font-size:11px; 
  border:3px;
  border-style:solid;
  border-color:#5490A9;
  padding:5px;
  padding-left:20px;
  padding-right:20px;
  cursor:hand;
}

.MenuItemOver 
{
  background-color:#527594; 
  font-family:verdana; 
  color:#C6D3DE;
  font-size:11px; 
  border:3px;
  border-style:solid;
  border-color:#527594;
  padding:5px;
  padding-left:20px;
  padding-right:20px;
  cursor:hand;
}

.MainSelectedMenuItem 
{
  background-color:orange; 
  font-family:verdana; 
  color:White;
  font-size:11px; 
  font-weight:bold;
  border:3px;
  border-style:solid;
  border-color:#276187;
  padding:5px;
  padding-left:20px;
  padding-right:20px;
  cursor:hand;
}

.MainMenuGroup
{
  background-color:#003366;
  border:0px;
  border-bottom-color:black;
  border-top-color:gray;
  border-left-color:gray;
  border-right-color:black;
  border-style:solid;
}

.MainMenuItem
{
  background-color:#003366;
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size:10px;
  font-weight:bold; 
  color:White;
  padding:1px;
  padding-left:5px;
  padding-right:15px;
  border:1px;
  border-color:#003366;
  border-style:solid;
  cursor:hand;
}

.MainMenuItemOver
{
  background-color:orange;
  color:white;
  font-family:Verdana;
  font-size:10px;
  font-weight:bold; 
  padding:1px;
  padding-left:5px;
  padding-right:15px;
  border:1px;
  border-left-color:gold;
  border-top-color:gold;
  border-right-color:darkgoldenrod;
  border-bottom-color:darkgoldenrod;
  border-style:solid; 
  cursor:hand;
}

.MainMenuItemDown
{
  background-color:orange;
  color:white;
  font-family:verdana;
  font-size:10px;
  font-weight:bold; 
  padding:1px;
  padding-left:5px;
  padding-right:15px;
  border:0px;
  border-left-color:darkgoldenrod;
  border-top-color:darkgoldenrod;
  border-right-color:gold;
  border-bottom-color:gold;
  border-style:solid; 
  cursor:hand;
}

.MainMenuItemExpanded
{
  background-color:#635233;
  color:gainsboro;
  font-family:verdana;
  font-size:10px;
  font-weight:bold; 
  padding:1px;
  padding-left:5px;
  padding-right:15px;
  border:0px;
  border-left-color:orange;
  border-top-color:orange;
  border-right-color:darkgoldenrod;
  border-bottom-color:darkgoldenrod;
  border-style:solid; 
  cursor:hand;
}

.MainMenuBreak
{
  padding-left:2px; 
  padding-right:2px; 
}

BUTTON
{
	font-size: 8px;
	font-family: Verdana, Arial, 'Times New Roman';
	text-align: center;
}
