<?xml version="1.0"?><configuration>
  <system.web>
    <httpRuntime maxRequestLength="40480" executionTimeout="999"/>
    <!--  DYNAMIC DEBUG COMPILATION
          Set compilation debug="true" to enable ASPX debugging.  Otherwise, setting this value to
          false will improve runtime performance of this application. 
          Set compilation debug="true" to insert debugging symbols (.pdb information)
          into the compiled page. Because this creates a larger file that executes
          more slowly, you should set this value to true only when debugging and to
          false at all other times. For more information, refer to the documentation about
          debugging ASP .NET files.
    -->
    <!--
    <compilation defaultLanguage="c#" debug="true">
    <assemblies>
      <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
      <add assembly="CrystalDecisions.ReportSource, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
      <add assembly="CrystalDecisions.Shared, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
      <add assembly="CrystalDecisions.Web, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
    </assemblies>
    </compilation>
    -->
    <!--  CUSTOM ERROR MESsa2GES
          Set customError mode values to control the display of user-friendly 
          error messa2ges to users instead of error details (including a stack trace):

          "On" Always display custom (friendly) messa2ges  
          "Off" Always display detailed ASP.NET error information.
          "RemoteOnly" Display custom (friendly) messa2ges only to users not running 
          on the local Web server. This setting is recommended for security purposes, so 
          that you do not display application detail information to remote clients.
    -->
    <!--
    JJMR INSTRUCCIÓN QUE MUESTRA EL ERROR EXACTO EN EL SISTEMA
    -->
    <customErrors mode="Off"/>
    <!--customErrors mode="On" defaultRedirect="CustomError/ErrorPage.aspx">
      <error statusCode="404" redirect="CustomError/404Page.aspx"/> 
    </customErrors-->
    <!--  AUTHENTICATION 
          This section sets the authentication policies of the application. Possible modes are "Windows", "Forms", 
          "Passport" and "None"
    -->
    <authentication mode="Forms">
      <forms name=".SICAL" loginUrl="Login.aspx" protection="All" path="/" timeout="100"/>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
    <!--  APPLICATION-LEVEL TRACE LOGGING
          Application-level tracing enables trace log output for every page within an application. 
          Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
          trace information will be displayed at the bottom of each page.  Otherwise, you can view the 
          application trace log by browsing the "trace.axd" page from your web application
          root. 
    -->
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
    <!--  SESSION STATE SETTINGS
          By default ASP .NET uses cookies to identify which requests belong to a particular session. 
          If cookies are not available, a session can be tracked by adding a session identifier to the URL. 
          To disa2ble cookies, set sessionState cookieless="true".
    -->
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;user id=sa2;password=" cookieless="false" timeout="20"/>
    <!--  GLOBALIZATION
          This section sets the globalization settings of the application. 
    -->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="es-MX" uiCulture="es-MX" fileEncoding="utf-8"/>
    <compilation debug="true"><assemblies><add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/><add assembly="CrystalDecisions.ReportSource, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/><add assembly="CrystalDecisions.Shared, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/><add assembly="CrystalDecisions.Web, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/><add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/></assemblies></compilation>
    <httpHandlers>
      <add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
    </httpHandlers>
  </system.web>
  <appSettings>
      <add key="SICALConnString" value="server=JJCORPSERVERHP;user id=sa;password=bota9062;database=SICALNet" />
      <add key="LocalPlant" value="1" />
      <add key="LocalPlantText" value="san Luis Potosi" />
      <add key="LocalPlantDenominacionsaP" value="1" />
      <add key="AllPlant" value="1,2" />
      <add key="AllPlantText" value="Ocoyoacác And san Luis Potosi" />
      <add key="AllPlantDenominacionsaP" value="1" />
      <add key="ColorRoomId" value="1" />
      <add key="AditivosRoomId" value="2" />
      <add key="ReaccionRoomId" value="3" />
      <add key="MixturesRoomId" value="4" />
      <add key="PVCRoomId" value="5" />
      <add key="CuredRoomId" value="8" />
      <add key="AssembleRoomId" value="6" />
      <add key="FillingRoomId" value="7" />
      <add key="PostCuredRoomId" value="9" />
      <add key="PreseparationRoomId" value="10" />
      <add key="SeparacionRoomId" value="11" />
      <add key="InspeccionRoomId" value="12" />
      <add key="QuarantineRoomId" value="13" />
      <add key="SendFinishProductRoomId" value="14" />
      <add key="ReceiveFinishProductRoomId" value="15" />
      <add key="SegundasRoomId" value="16" />
      <add key="TercerasRoomId" value="17" />
      <add key="Interfazsa2P" value="18" />
      <add key="StatusPending" value="1" />
      <add key="Statusactive" value="2" />
      <add key="StatusInProcess" value="3" />
      <add key="StatusStandBy" value="4" />
      <add key="StatusRelease" value="5" />
      <add key="StatusCancel" value="6" />
      <add key="SequenceStatusReleased" value="1" />
      <add key="SequenceStatusInProcess" value="2" />
      <add key="SequenceStatusCancel" value="3" />
      <add key="IdProductoTerminado" value="1" />
      <add key="IdInstrucciones" value="4" />
      <add key="server" value="192.168.0.15" />
      <add key="user id" value="sa" />
      <add key="password" value="bota9062" />
      <add key="database" value="SICALNet" />
      <add key="servercbb" value="localhost" />
      <add key="servercbb_images" value="http://localhost/ServicioWebCbb/ImagenesCbb/" />
      <add key="servercbb_local_images" value="C:\Inetpub\wwwroot\SicalNET\Temp\Qrs\" />
      <add key="reportsLocalPath" value="C:\Inetpub\wwwroot\SicalNET\Reportes\" />
      <add key="exportacionPath" value="http://localhost/Sicalnet/Forms/Reportes/" />
      <add key="ExportDraftDirectory" value="c:\Temp\archivo.csv" />
      <add key="UrlExporta" value="http://localhost/ExportaExcel/index.htm/" />
      <add key="ldapPath" value="LDAP://localhost" />
      <add key="domainName" value="JJCorpN   et.com" />
      <add key="TiempoRefreshListadoOrdenes" value="" />
      <add key="TiempoRefreshListadoOrdenesColorAditivos" value="" />
      <add key="TextoSLP" value="SLP.10.FOR.11.06" />
      <add key="TextoOCO" value="OCO" />
      <add key="PrettyErrors" value="yes" />
      <add key="LogErrors" value="yes" />
      <add key="CuradoLog" value="yes" />
      <add key="CrystalImageCleaner-AutoStart" value="true" />
      <add key="CrystalImageCleaner-Sleep" value="60000" />
      <add key="CrystalImageCleaner-Age" value="120000" />
  </appSettings>
  <system.webServer>
    <handlers>
      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode"/>
    </handlers>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>